.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#tic_tac_toe .disable {
  text-transform: uppercase;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#tic_tac_toe #game .btn {
  padding: 0;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  color: #ccc;
  border-bottom: 1px solid #e6e6e6;
}
#tic_tac_toe .game-row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#tic_tac_toe #game .btn.disable {
  color: #fff;
  pointer-events: none;
}
#tic_tac_toe .card {
  width: 100%;
  margin-bottom: 16px;
}
#tic_tac_toe h1 {
  text-align: center;
  font-size: 28px;
}
#tic_tac_toe .btn::-moz-selection {
  background: none;
  color: #000;
}
#tic_tac_toe .btn::-webkit-selection {
  background: none;
  color: #000;
}
#tic_tac_toe.size_3 {
  width: 260px;
  margin: 16px auto 0;
}
#tic_tac_toe.size_5 {
  width: 420px;
  margin: 16px auto 0;
}
#tic_tac_toe.size_7 {
  width: 580px;
  margin: 16px auto 0;
}
#sidebar_collapse {
  width: 100%;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  margin-left: -250px;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}
